<template>
  <div class="overflow-hidden overflow-x-auto p-6 bg-white border-gray-200">
    <div class="min-w-full align-middle">
      <table class="min-w-full divide-y divide-gray-200 border">
        <thead>
          <tr>
            <th class="px-6 py-3 bg-gray-50 text-left">
              <span class="text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">ID</span>
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left">
              <span class="text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Title</span>
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left">
              <span class="text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Content</span>
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left">
              <span class="text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Created at</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200 divide-solid">
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">1</td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">A</td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">2022-01-01 13:43:47</td>
          </tr>
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">2</td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">B</td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">Lorem ipsum dolor sit amet,
              consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900">2022-01-02 14:43:47</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>